In [1]:
                    #Working with MySQL and Python via Anaconda
#Install Anaconda:    
#Open anaconda prompt
#conda.exe install mysql-python(optional if not work) 
#pip install mysql-connector-python

In [6]:
import mysql.connector as mdb

In [7]:
cnn = mdb.connect(
        user='root',
        password='Sdlab@jp14',
        host='localhost',
        database='dse_repository')

In [8]:
cursor=cnn.cursor(buffered=True)
cursor.execute("select * from day_end_transaction where Trading_Code in ('ACTIVEFINE','RENATA') and Trans_Date='2017-09-06'")
for row in cursor.fetchall():
    print(row[1])
cnn.close()

ACTIVEFINE
RENATA